<!--<div class="main">-->
<!--  <div class="alert alert-warning" role="alert">-->
<!--    A simple info alert—check it out!-->
<!--  </div>-->
<!--  <p class="title">{{ title }}</p>-->
<!--</div>-->
<!--<button class="btn btn-primary" (click)="showModal = !showModal">-->
<!--  show modal-->
<!--</button>-->

<!--<app-dialog-->
<!--  [visible]="showModal"-->
<!--  title="天気がいいから、散歩しましょうか？"-->
<!--  (modalClose)="onClose()"-->
<!--  (backdropClick)="onClose()"-->
<!--  (confirm)="onConfirm()"-->
<!--&gt;</app-dialog>-->

<!--<app-sizer-->
<!--  [size]="fontSize"-->
<!--  (incr)="this.fontSize = $event"-->
<!--  (decr)="this.fontSize = $event"-->
<!--&gt;</app-sizer>-->
<!--<p>-->
<!--  <label [style.font-size.px]="fontSize">FontSize: {{fontSize}}px</label>-->
<!--</p>-->

<!--<input type="text" [(ngModel)]="textVal" (blur)="getText()">-->
<!--<p>textVal: {{textVal}}</p>-->
<!--<button class="btn btn-primary" (click)="setVal()">setVal</button>-->

<!--<app-if></app-if>-->

<!-- <app-for></app-for>-->

<!--<app-tpl-var></app-tpl-var>-->

<!--<app-tpl-operators></app-tpl-operators>-->

<!-- <div class="main">
  <div class="wraper">
    <button class="btn btn-primary" (click)="setList()">reset</button>
    <button class="btn btn-info" (click)="search = !search">toggle search</button>
   <app-transfer-panel [list]="list" [search]="search" (changed)="onChanged($event)"></app-transfer-panel>
  </div>
</div> -->

<!-- <div id="app">
  <app-layout></app-layout>
</div> -->

<!-- <div id="app">
  <div app-for></div>
  <app-layout></app-layout>

  <p appHighlight [highlightColor]="'green'">highlight directive</p>
</div> -->

<!-- <div class="main">
  <app-example></app-example>
</div> -->

<div class="main">
  <!-- <app-tpl-container></app-tpl-container> -->
  <app-tpl-outlet></app-tpl-outlet>
  <hr />
  <app-tpl-outlet [render]="outletTpl"></app-tpl-outlet>
</div>

<ng-template #outletTpl let-default let-val="value">
  <h4>test more and more</h4>
  <p>default:{{ default }} | value: {{ val }}</p>
</ng-template>
