<!-- <p>example works!</p>

<div class="demo">
  <section class="m-auto">
    aaa
    <app-structural></app-structural>
  </section>

  <section>
    <button class="btn btn-primary" (click)="hide = !hide">toggle hide</button>
    <p *appUnless="hide">test more and more</p>
    <p *appUnless="hide as un">test more and more alias un -- {{ un }}</p>
    <p *appUnless="hide; let un">test more and more let un -- {{ un }}</p>
    <p *appUnless="hide; let attr = attr">
      test more and more let attr -- {{ attr }}
    </p>

    <ng-template [appUnless]="hide" let-attr="attr" let-un>
      <p>test more and more--attr: {{ attr }} ---un:{{ un }}</p>
    </ng-template>
  </section>
</div> -->

<!-- <app-content-child>
  <ul #list>
    <li>more</li>
    <li>more</li>
    <li>more</li>
    <li>more</li>
  </ul>
  <ul #list>
    <li>more</li>
    <li>more</li>
    <li>more</li>
    <li>more</li>
  </ul>
  <div class="content">
    <span> shadow content </span>
    <ul #list>
      <li>more</li>
      <li>more</li>
      <li>more</li>
      <li>more</li>
    </ul>
    <ul #list>
      <li>more</li>
      <li>more</li>
      <li>more</li>
      <li>more</li>
    </ul>
    <div #list>
      <span>more</span>
    </div>
  </div>
  <div class="comp" comp>
    <app-content-panel>sdd</app-content-panel>
    <app-content-panel></app-content-panel>
  </div>
  <div class="default">
    <span>default shadow content</span>
  </div>
  <app-content-panel></app-content-panel>
  <app-content-panel></app-content-panel>
</app-content-child> -->

<!-- <app-pipe></app-pipe> -->
<!-- <button class="btn btn-primary" (click)="show = !show">TOOGLE</button>
<app-life-cycle title="title" *ngIf="show"></app-life-cycle> -->

<!-- <app-change></app-change> -->

<!-- <div class="btn btn-primary">click</div>
<div class="demo">
  <div class="m-auto">
    <app-style class="style-host active"></app-style>
  </div>
</div> -->

<!-- <app-transfer [sourceData]="list" [customTpl]="myTpl"></app-transfer>
<ng-template #myTpl let-value let-item="item">
  more {{ value + item }}
</ng-template> -->

<!-- <app-alert></app-alert> -->
<!-- <div class="demo">
  <div class="m-auto">
    <button class="btn btn-primary" (click)="showAlert()">
      Show Alert {{ 2 | exponentialStrength: 5 }}
    </button>
    <p appHighlight="skyblue">more and more</p>
  </div>
</div> -->

<div class="demo">
  <div class="m-auto">
    <!-- <app-mobile></app-mobile> -->
    <!-- <app-alex></app-alex> -->
    <app-test-rx></app-test-rx>
    <!-- <app-dialog [visible]="true" (confirm)="onConfirm($event)" title="HELLO" ></app-dialog> -->
  </div>
</div>
